<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sys.rate.mapper.AwardMapper">
    <resultMap type="org.sys.rate.model.Award" id="AwardResult">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="studentId" column="student_id"/>
        <result property="name" column="name"/>
        <result property="date" column="date"/>
        <result property="author" column="author"/>
        <result property="url" column="url"/>
        <result property="state" column="state"/>
        <result property="point" column="point"/>
        <result property="rank" column="rank"/>
        <result property="total" column="total"/>
        <result property="awardLevel" column="award_level"/>
        <result property="awardTypeId" column="award_type_id"/>
        <association property="student" javaType="org.sys.rate.model.Student">
            <id property="ID" column="ID" jdbcType="INTEGER"/>
            <result property="name" column="sname"/>
        </association>
        <association property="indicator" javaType="org.sys.rate.model.Indicator">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="iname"/>
            <result property="score" column="score"/>
            <result property="rankN" column="rankN"/>
        </association>
        <association property="awardType" javaType="org.sys.rate.model.AwardType">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="tname"/>
            <result property="year" column="year"/>
            <result property="indicatorId" column="indicator_id"/>
        </association>
        <collection property="operationList" ofType="org.sys.rate.model.Operation">
            <result property="operatorRole" column="operator_role"/>
            <result property="operatorId" column="operator_id"/>
            <result property="operatorName" column="operator_name"/>
            <result property="prodType" column="prod_type"/>
            <result property="prodId" column="prod_id"/>
            <result property="time" column="operdate"/>
            <result property="operationName" column="operation_name"/>
            <result property="state" column="state"/>
            <result property="remark" column="remark"/>
        </collection>
    </resultMap>

    <sql id="selectAwardVo">
        select id,student_id,name,date,author,url,state
        from i_award
    </sql>

    <select id="selectAllAwardList" resultMap="AwardResult">
        -- 老师查询所有学生的获奖
        SELECT p.*,
               s.name as sname,
               i.name as iname,
               i.score,
               oper.operator_role,oper.operator_id,oper.operator_name,oper.prod_type,oper.prod_id,oper.date as operdate,oper.operation_name,
               oper.state,oper.remark
        FROM i_award p
                 LEFT JOIN student s ON p.student_id = s.ID
                 LEFT JOIN indicator i ON i.id = p.indicator_id
                 LEFT JOIN i_oper oper ON p.id = oper.prod_id and oper.prod_type = '科研获奖'
    </select>

    <select id="selectListById" resultMap="AwardResult">
        <include refid="selectAwardVo"></include>
        <where>
            <if test="student_id != null  and student_id != ''">and student_id = #{student_id}</if>
            <if test="page !=null and size!=null">
                limit #{page},#{size}
            </if>
        </where>
    </select>

<!--    学生奖励页面初始化-->
    <select id="selectAwardListById" resultMap="AwardResult" parameterType="Integer">
        select a.id, a.name, student_id, a.date, author, a.state, url, indicator_id, `rank`, total, point, a.award_level, a.award_type_id,
               oper.operator_role,oper.operator_id,oper.operator_name,oper.prod_type,oper.prod_id,oper.date as operdate,oper.operation_name,
               oper.state,oper.remark,
               i.name as iname,
               i.score,i.rankN,
               type.name as tname,type.year,type.indicator_id
        FROM i_award a
                 LEFT JOIN i_award_type type ON type.id = a.award_type_id
                 LEFT JOIN indicator i ON i.id = type.indicator_id
                 LEFT JOIN i_oper oper ON a.id = oper.prod_id and oper.prod_type = '科研获奖'
        where a.student_id = #{studentID}
    </select>

    <select id="selectAwardList" parameterType="org.sys.rate.model.Award" resultMap="AwardResult">
        <include refid="selectAwardVo"/>
        <where>
            <if test="id !=null and id !=''">and id =#{id}</if>
            <if test="student_id != null ">and student_id = #{student_id}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="year != null  and year != ''">and year = #{year}</if>
            <if test="month != null ">and month = #{month}</if>
            <if test="`rank` != null ">and `rank` = #{rank}</if>
            <if test="total != null ">and total = #{total}</if>
            <if test="point != null ">and point = #{point}</if>
            <if test=" != null ">and  = #{}</if>
            <if test="url != null ">and url = #{url}</if>
        </where>
    </select>

    <select id="selectAwardById" parameterType="Long" resultMap="AwardResult">
        <include refid="selectAwardVo"/>
        where id = #{id}
    </select>

    <insert id="insertAward" parameterType="org.sys.rate.model.Award" useGeneratedKeys="true" keyProperty="id">
        insert into i_award
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="studentId != null">student_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="date != null">date,</if>
            <if test="author != null">author,</if>
            <if test="`rank` != null">`rank`,</if>
            <if test="total != null">total,</if>
            <if test="point != null">point,</if>
            <if test="state != null">state,</if>
            <if test="url != null">url,</if>
            <if test="awardLevel != null">award_level,</if>
            <if test="awardTypeId != null">award_type_id</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="date != null">#{date},</if>
            <if test="author != null">#{author},</if>
            <if test="`rank` != null">#{rank},</if>
            <if test="total != null">#{total},</if>
            <if test="point != null">#{point},</if>
            <if test="state != null">#{state},</if>
            <if test="url != null">#{url},</if>
            <if test="awardLevel != null">#{awardLevel},</if>
            <if test="awardTypeId != null">#{awardTypeId}</if>
        </trim>
    </insert>

    <update id="updateAward" parameterType="org.sys.rate.model.Award">
        update i_award
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="date != null">date = #{date},</if>
            <if test="author != null">author = #{author},</if>
            <if test="`rank` != null">`rank` = #{rank},</if>
            <if test="total != null">total = #{total},</if>
            <if test="point != null">point = #{point},</if>
            <if test="state != null">state =#{state},</if>
            <if test="url != null">url = #{url},</if>
            <if test="awardLevel != null">award_level = #{awardLevel}</if>
        </trim>
        where id = #{id}
    </update>

    <update id="editState" parameterType="org.sys.rate.model.Award">
        update i_award
        <trim prefix="SET" suffixOverrides=",">
            <if test="state != null">state = #{state},</if>
        </trim>
        where id = #{ID}
    </update>
    <delete id="deleteAwardById" parameterType="Long">
        delete
        from i_award
        where id = #{ID}
    </delete>

    <delete id="deleteAwardByIds" parameterType="String">
        delete from i_award where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{ID}
        </foreach>
    </delete>

    <select id="searchAwardByConditions" resultMap="AwardResult">
        SELECT book.*,i.max_date,j.remark,ip.`name` as tname, ip.id as projectTypeId, ip.year, ip.indicator_id, s.name as sname
        FROM i_award book
        JOIN (
        SELECT prod_id,MAX(i_oper.date) max_date
        FROM i_oper
        WHERE prod_type = '科研获奖'
        GROUP BY prod_id
        ) i ON book.id = i.prod_id
        JOIN (
        SELECT prod_id,remark,`date`
        FROM i_oper
        WHERE prod_type = '科研获奖'
        ) j ON i.prod_id = j.prod_id AND i.max_date = j.`date`
        JOIN i_award_type ip ON book.award_type_id = ip.id
        JOIN student s ON s.ID = book.student_id
        <where>
            <if test="awardName != null and awardName != ''">and book.name like concat('%', #{awardName}, '%')</if>
            <if test="studentName != null and studentName != ''">and s.name like concat('%', #{studentName}, '%')</if>
            <if test="state != null and state != ''">and book.state = #{state}</if>
            <if test="pointFront != null and pointBack != null and pointFront != '' and pointBack != ''">and book.point between #{pointFront} and #{pointBack}</if>
        </where>
        ORDER BY book.id DESC
    </select>
</mapper>
