<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sys.rate.mapper.BooksMapper">

    <resultMap type="org.sys.rate.model.Books" id="BookResult">
        <result property="ID"    column="ID"    />
        <result property="name"    column="name"    />
        <result property="member"    column="member"    />
        <result property="rank"    column="rank"    />
        <result property="version"    column="version"    />
        <result property="year"    column="year"    />
        <result property="month"    column="month"    />
        <result property="type"    column="type"    />
        <result property="place"    column="place"    />
        <result property="point"    column="point"    />
        <result property="state"    column="state"    />
        <result property="bookTypeID"    column="bookTypeID"    />
        <result property="url"    column="url"    />
        <association property="student" javaType="org.sys.rate.model.Student">
            <id property="ID" column="ID" jdbcType="INTEGER"/>
            <result property="name" column="sname"/>
        </association>
        <association property="bookstype" javaType="org.sys.rate.model.Bookstype">
            <id property="ID" column="ID" jdbcType="INTEGER"/>
            <result property="name" column="pname"/>
        </association>
        <collection property="bookList" ofType="org.sys.rate.model.BookOper" column="pID">
            <result property="remark" column="remark"/>
            <result property="operatorRole" column="operatorRole"/>
            <result property="operation" column="operation"/>
            <result property="time" column="time"/>
        </collection>

    </resultMap>

    <sql id="selectBookVo">
        SELECT
            a.*,
            b.`name` AS sname,
            c.`name` AS pname,
            d.remark,
            d.operatorRole,
            d.operation,
            d.time,
            d.ID as pID
        FROM
            book a
        LEFT JOIN student b ON a.studentID = b.ID
        LEFT JOIN booktype c ON a.bookTypeID = c.ID
        LEFT JOIN book_oper d ON a.ID = d.bookID
    </sql>

    <select id="selectList" resultMap="BookResult">
        <include refid="selectBookVo"></include>
    </select>

    <select id="selectBookList" parameterType="org.sys.rate.model.Books" resultMap="BookResult">
        <include refid="selectBookVo"/>
        <where>
            <if test="ID !=null and ID !=''">and a.ID =#{ID}</if>
            <if test="stuName !=null and stuName !=''">and b.name like concat('%',#{stuName},'%')</if>
            <if test="zcName !=null and zcName !=''">and a.name like concat('%',#{zcName},'%')</if>
            <if test="sScore !=null and sScore !='全部' and sScore !=''">and a.point >= #{sScore}</if>
            <if test="eScore !=null and eScore !='全部' and eScore !=''">and a.point &lt;= #{eScore}</if>
            <if test="sState !=null and sState !=''">and a.state = #{sState}</if>
        </where>
    </select>

    <select id="selectBookById" parameterType="Long" resultMap="BookResult">
        <include refid="selectBookVo"/>
        where a.ID = #{ID}
    </select>

    <insert id="insertBook" parameterType="org.sys.rate.model.Books">
        insert into book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="unit != null">unit,</if>
            <if test="member != null">member,</if>
            <if test="rank != null and rank != ''">rank,</if>
            <if test="version != null">version,</if>
            <if test="year != null">year,</if>
            <if test="month != null">month,</if>
            <if test="time != null">time,</if>
            <if test="type != null">type,</if>
            <if test="place != null">place,</if>
            <if test="indicaterID != null">indicaterID,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="unit != null">#{unit},</if>
            <if test="member != null">#{member},</if>
            <if test="rank != null and rank != ''">#{rank},</if>
            <if test="version != null">#{version},</if>
            <if test="year != null">#{year},</if>
            <if test="month != null">#{month},</if>
            <if test="time != null">#{time},</if>
            <if test="type != null">#{type},</if>
            <if test="place != null">#{place},</if>
            <if test="indicaterID != null">#{indicaterID},</if>
         </trim>
    </insert>

    <update id="updateBook" parameterType="org.sys.rate.model.Books">
        update book
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="member != null">member = #{member},</if>
            <if test="rank != null and rank != ''">rank = #{rank},</if>
            <if test="version != null">version = #{version},</if>
            <if test="year != null">year = #{year},</if>
            <if test="month != null">month = #{month},</if>
            <if test="time != null">time = #{time},</if>
            <if test="type != null">type = #{type},</if>
            <if test="place != null">place = #{place},</if>
            <if test="indicaterID != null">indicaterID = #{indicaterID},</if>
        </trim>
        where ID = #{ID}
    </update>
    <update id="editState" parameterType="org.sys.rate.model.Projects">
        update book
        <trim prefix="SET" suffixOverrides=",">
            <if test="state != null">state=#{state},</if>
            <!--  <if test="reason != null">reason=#{reason},</if>-->
            <!--            <if test="url != null">url=#{url},</if>-->
        </trim>
        where ID = #{ID}
    </update>

    <delete id="deleteBookById" parameterType="Long">
        delete from book where ID = #{ID}
    </delete>

    <delete id="deleteBookByIds" parameterType="String">
        delete from book where ID in
        <foreach item="ID" collection="array" open="(" separator="," close=")">
            #{ID}
        </foreach>
    </delete>



    <insert id="insertPaperoper" parameterType="org.sys.rate.model.BookOper">
        insert into book_oper (ID, operatorRole,operatorID, operatorName,
        bookID, bookName,operation,state,remark)
        values (#{ID},
        #{operatorRole},
        #{operatorID,jdbcType=INTEGER}, #{operatorName,jdbcType=VARCHAR},
        #{bookID,jdbcType=INTEGER}, #{bookName,jdbcType=VARCHAR},
        #{operation,jdbcType=VARCHAR},
        #{state},#{remark})
        <!--        insert into paper_oper-->
        <!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
        <!--            <if test="ID != null">ID,</if>-->
        <!--            <if test="operatorRole != null">operatorRole,</if>-->
        <!--            <if test="operatorID != null ">operatorID,</if>-->
        <!--            <if test="operatorName != null">operatorName,</if>-->
        <!--            <if test="paperID != null">paperID,</if>-->
        <!--            <if test="paperName != null">paperName,</if>-->
        <!--            <if test="pubID != null">pubID,</if>-->
        <!--            <if test="pubName != null">pubName,</if>-->
        <!--            <if test="time != null">time,</if>-->
        <!--            <if test="operation != null">operation,</if>-->
        <!--            <if test="state != null">state,</if>-->
        <!--            <if test="remark != null">remark,</if>-->
        <!--         </trim>-->
        <!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
        <!--            <if test="ID != null">#{ID},</if>-->
        <!--            <if test="operatorRole != null">#{studentID},</if>-->
        <!--            <if test="operatorID != null and name != ''">#{name},</if>-->
        <!--            <if test="operatorName != null">#{operatorName},</if>-->
        <!--            <if test="paperID != null">#{paperID},</if>-->
        <!--            <if test="paperName != null">#{paperName},</if>-->
        <!--            <if test="pubID != null">#{pubID},</if>-->
        <!--            <if test="pubName != null">#{pubName},</if>-->
        <!--            <if test="time != null">#{time},</if>-->
        <!--            <if test="operation != null">#{operation},</if>-->
        <!--            <if test="state != null">#{state},</if>-->
        <!--            <if test="remark != null">#{remark},</if>-->
        <!--         </trim>-->
    </insert>

</mapper>
