<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sys.rate.mapper.EmailErrorLogMapper">
    <!-- 所有的数据库操作都要写在mapper标签中，可以使用特定的标签表示数据库中的特定操作 -->
    <delete id="deleteMulti">
        delete from exception_log where id in
        <foreach collection="data" open="(" close=")" separator="," item="item">
            #{item.id}
        </foreach>
    </delete>
    <delete id="deleteAll">
        delete from exception_log where 1=1
        <if test="startTime != null">
            and timestamp &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and timestamp &lt;= #{endTime}
        </if>
    </delete>
    <select id="filterByDate" resultType="org.sys.rate.model.EmailErrorLog">
        select *
        from exception_log
        where timestamp between #{startTime} and #{endTime}
    </select>
</mapper>
