<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sys.rate.mapper.GraduateStudentMapper">
    <resultMap id="BaseResultMap" type="org.sys.rate.model.GraduateStudent">
        <id column="ID" property="ID" jdbcType="INTEGER"/>
        <id column="studentID" property="studentID" jdbcType="INTEGER"/>
        <result column="institutionID" jdbcType="INTEGER" property="institutionID" />
        <result column="stuNumber" property="stuNumber" jdbcType="VARCHAR"/>
        <result column="year" property="year" jdbcType="INTEGER"/>
        <result column="tutorID" property="tutorID" jdbcType="INTEGER"/>
        <result column="studentType" property="studentType" jdbcType="VARCHAR"/>
        <result column="point" property="point" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
        <result property="IDNumber" column="IDNumber" jdbcType="VARCHAR"/>
        <association property="teachers" javaType="org.sys.rate.model.Teachers">
            <id property="ID" column="ID" jdbcType="INTEGER"/>
            <result property="name" column="tname"/>
            <result property="jobnumber" column="tjobnumber"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        select  ID, studentID,institutionID,stuNumber, year, tutorID,studentType,point,s.name,s.email,s.telephone,s.IDNumber,t.tname,t.tjobnumber
        from graduatestudent u,student s,teacher t
    </sql>

<!--    <select id="check" resultType="java.lang.Integer">-->
<!--        select exists (select * from student where IDNumber=#{IDNumber})-->
<!--    </select>-->

    <insert id="insertFROMImport" parameterType="org.sys.rate.model.GraduateStudent">
        insert into graduatestudent(ID,studentID,institutionID,stuNumber,year,tutorID,studentType,point) values
        <foreach collection="list" separator="," item="graduate">
               (#{graduate.ID,jdbcType=INTEGER},
                #{graduate.studentID,jdbcType=INTEGER},
                #{graduate.institutionID,jdbcType=INTEGER},
                #{graduate.stuNumber,jdbcType=VARCHAR},
                #{graduate.year,jdbcType=VARCHAR}, #{graduate.tutorID,jdbcType=INTEGER},
                #{graduate.studentType,jdbcType=VARCHAR},#{graduate.point,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <update id="updateFROMImport" parameterType="org.sys.rate.model.GraduateStudent">
        <foreach collection="list" item="item" open="" close="" separator=";">
            update graduatestudent
            <set>
                institutionID=#{item.institutionID},
                stuNumber = #{item.stuNumber},
                year = #{item.year},
                tutorID = #{item.tutorID},
                point = #{item.point},
                studentType = #{item.studentType}
            </set>
            where studentID = #{item.studentID}
        </foreach>
    </update>
    <select id="check" resultType="java.lang.Integer">
        select studentID
        from graduatestudent
        where studentID in
        <foreach collection="list" close=")" open="(" item="item" separator=",">
            #{item.studentID}
        </foreach>
    </select>
    <select id="getGraduateStudent" resultMap="BaseResultMap">
        select u.*,s.name,s.telephone,s.email,s.IDNumber,t.name as tname,t.jobnumber as tjobnumber
        from graduatestudent u
        left join teacher t
        on u.tutorID=t.ID
        left join student s
        on u.studentID=s.ID
--         where s.ID = u.studentID
<!--        <if test="tutorID != null"> and u.tutorID = t.ID</if>-->
--         and u.tutorID = t.ID
    </select>
    <delete id="deleteGraduateStudent" parameterType="org.sys.rate.model.GraduateStudent">
        delete from graduatestudent where ID = #{ID}
    </delete>
    <update id="editGraduateStudent" parameterType="org.sys.rate.model.GraduateStudent">
        UPDATE student SET name=#{name,jdbcType=VARCHAR},
                           telephone=#{telephone,jdbcType=VARCHAR},
                           email=#{email,jdbcType=VARCHAR}
        where ID=#{studentID,jdbcType=INTEGER};
        UPDATE graduatestudent
        SET tutorID = #{tutorID},
            studentType = #{studentType},
            point = #{point}
        where ID=#{ID,jdbcType=INTEGER};
    </update>
</mapper>
