<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sys.rate.mapper.GraduateStudentMapper">
    <resultMap id="BaseResultMap" type="org.sys.rate.model.GraduateStudent">
        <id column="ID" property="ID" jdbcType="INTEGER"/>
        <id column="studentID" property="studentID" jdbcType="INTEGER"/>
        <result column="institutionID" jdbcType="INTEGER" property="institutionID" />
        <result column="stuNumber" property="stuNumber" jdbcType="VARCHAR"/>
        <result column="year" property="year" jdbcType="INTEGER"/>
        <result column="specialty" property="specialty" jdbcType="VARCHAR"/>
        <result column="class" property="className" jdbcType="VARCHAR"/>
        <result column="tutorID" property="tutorID" jdbcType="INTEGER"/>
        <result column="studentType" property="studentType" jdbcType="VARCHAR"/>
        <result column="point" property="point" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="VARCHAR"/>
        <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
        <result property="IDNumber" column="IDNumber" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result column="registerAnswer" property="registerAnswer" jdbcType="VARCHAR"/>
        <result column="registerQuestion" property="registerQuestion" jdbcType="VARCHAR"/>
        <association property="teachers" javaType="org.sys.rate.model.Teachers">
            <id property="ID" column="ID" jdbcType="INTEGER"/>
            <result property="name" column="tname"/>
            <result property="jobnumber" column="tjobnumber"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        select  ID, studentID,institutionID,stuNumber, year, tutorID,studentType,point,s.name,s.email,s.telephone,s.IDNumber,t.tname,t.tjobnumber
        from graduatestudent u,student s,teacher t
    </sql>

<!--    <select id="check" resultType="java.lang.Integer">-->
<!--        select exists (select * from student where IDNumber=#{IDNumber})-->
<!--    </select>-->

    <insert id="insert" parameterType="org.sys.rate.model.GraduateStudent">
        insert into graduatestudent (ID,studentID,institutionID,stuNumber,year,tutorID,studentType,point)
        values  (#{ID,jdbcType=INTEGER},
                 #{studentID,jdbcType=INTEGER},
                 #{institutionID,jdbcType=INTEGER},
                 #{stuNumber,jdbcType=VARCHAR},
                 #{year,jdbcType=VARCHAR}, #{tutorID,jdbcType=INTEGER},
                 #{studentType,jdbcType=VARCHAR},#{point,jdbcType=VARCHAR})
    </insert>
    <insert id="insertFROMImport" parameterType="org.sys.rate.model.GraduateStudent">
        insert into graduatestudent(ID,studentID,institutionID,stuNumber,year,tutorID,studentType,point) values
        <foreach collection="list" separator="," item="graduate">
               (#{graduate.ID,jdbcType=INTEGER},
                #{graduate.studentID,jdbcType=INTEGER},
                #{graduate.institutionID,jdbcType=INTEGER},
                #{graduate.stuNumber,jdbcType=VARCHAR},
                #{graduate.year,jdbcType=VARCHAR}, #{graduate.tutorID,jdbcType=INTEGER},
                #{graduate.studentType,jdbcType=VARCHAR},#{graduate.point,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <update id="updateFROMImport" parameterType="org.sys.rate.model.GraduateStudent">
        <foreach collection="list" item="item" open="" close="" separator=";">
            update graduatestudent
            <set>
                institutionID=#{item.institutionID},
                stuNumber = #{item.stuNumber},
                year = #{item.year},
                tutorID = #{item.tutorID},
                point = #{item.point},
                studentType = #{item.studentType}
            </set>
            where studentID = #{item.studentID}
        </foreach>
    </update>
    <select id="check" resultType="java.lang.Integer">
        select studentID
        from graduatestudent
        where studentID in
        <foreach collection="list" close=")" open="(" item="item" separator=",">
            #{item.studentID}
        </foreach>
    </select>
    <select id="getGraduateStudent" resultMap="BaseResultMap">
        select u.*,s.name,s.telephone,s.email,s.IDNumber,s.username,t.name as tname,t.jobnumber as tjobnumber
        from graduatestudent u
        left join teacher t
        on u.tutorID=t.ID
        left join student s
        on u.studentID=s.ID
    </select>
    <delete id="deleteGraduateStudent" parameterType="org.sys.rate.model.GraduateStudent">
        delete from graduatestudent where ID = #{ID}
    </delete>
    <update id="editGraduateStudent" parameterType="org.sys.rate.model.GraduateStudent">
        UPDATE student SET name=#{name,jdbcType=VARCHAR},
                           telephone=#{telephone,jdbcType=VARCHAR},
                           email=#{email,jdbcType=VARCHAR}
        where ID=#{studentID,jdbcType=INTEGER};
        UPDATE graduatestudent
        SET tutorID = #{tutorID},
            studentType = #{studentType},
            point = #{point}
        where ID=#{ID,jdbcType=INTEGER};
    </update>
    <update id="update">
        UPDATE graduatestudent SET tutorID=#{tutorID,jdbcType=INTEGER},
                                   stuNumber=#{stuNumber,jdbcType=VARCHAR},
                                 year=#{year,jdbcType=INTEGER},
                                 studentType=#{studentType,jdbcType=VARCHAR},
                                 specialty=#{specialty,jdbcType=VARCHAR},
                                 class=#{className,jdbcType=VARCHAR}
        where studentID=#{studentID,jdbcType=INTEGER};
    </update>
    <select id="getTeaNamesBySelect" resultType="org.sys.rate.model.Teachers">
        select t.*
        from graduatestudent g,teacher t
        <where>
            <if test="teaName != null and teaName != ''">and t.name LIKE CONCAT('%', #{teaName}, '%')</if>
        </where>
    </select>
    <select id="getGraduateStudentsBySelect" resultMap="BaseResultMap">
        select u.*,s.name,s.telephone,s.email,s.IDNumber,s.username,t.name as tname,t.jobnumber as tjobnumber
        from graduatestudent u
        left join teacher t
        on u.tutorID=t.ID
        left join student s
        on u.studentID=s.ID
        <where>
            <if test="year != null and year != 0">and u.year = #{year}</if>
            <if test="teaName != null and teaName != ''">and t.name LIKE CONCAT('%', #{teaName}, '%')</if>
        </where>
    </select>
    <select id="checkHaveStudentOfstudenID" resultType="java.lang.Integer">
        select exists (select * from graduatestudent where studentID = #{studentID})
    </select>
    <select id="checkHaveStudentOftutorID" resultType="java.lang.Integer">
        select exists (select * from graduatestudent where tutorID = #{tutorID} and ID != #{ID})
    </select>
    <select id="getGradByStuID" resultMap="BaseResultMap">
        select u.*,s.name,s.telephone,s.email,s.username,s.role,s.password,s.registerQuestion,s.registerAnswer
        from graduatestudent u,student s
        where u.studentID=#{studentID} and s.ID = u.studentID
    </select>

    <resultMap id="GraduateListMap" type="org.sys.rate.model.GraduateStudent">
        <id column="ID" property="ID" jdbcType="INTEGER"/>
        <result column="stuNumber" property="stuNumber" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result column="studentType" property="studentType" jdbcType="VARCHAR"/>
        <result column="year" property="year" jdbcType="INTEGER"/>
        <result column="point" property="point" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
    </resultMap>

<!--   这里通过stuNumber进行改变，也行-->
    <select id="getGraduateListByTutorID" resultMap="GraduateListMap">
        SELECT
            s.ID AS ID,
            g.stuNumber,
            s.`name`,
            g.studentType,
            g.`year`,
            g.point,
            s.email,
            s.telephone,
            s.username
        FROM
            `graduatestudent` g,
            `student` s
        WHERE
            g.tutorID = #{tutorID}
          AND g.studentID = s.ID
          AND s.deleteflag = 0
        ORDER BY
            g.stuNumber
    </select>
    <select id="checkHaveStudentOfStuNumber" resultType="java.lang.Integer">
        select exists (select * from graduatestudent where institutionID = #{institutionID} and stuNumber = #{stuNumber} and studentID != #{studentID} )
    </select>
</mapper>
