<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sys.rate.mapper.IndicatorMapper">

  <select id="getAllYearByIdType" resultType="java.lang.Integer">
    SELECT DISTINCT year
    FROM
    <choose>
      <when test="indicatorType == 'publication'">
        indicator_publication
      </when>
      <when test="indicatorType == 'project'">
        i_project_type
      </when>
      <when test="indicatorType == 'award'">
        i_award_type
      </when>
      <when test="indicatorType == 'award'">
        i_award_type
      </when>
      <when test="indicatorType == 'decision'">
        i_decision_type
      </when>
      <when test="indicatorType == 'competition'">
        i_competition_type
      </when>
    </choose>
    WHERE indicator_id = #{indicatorId}
    ORDER BY year desc
  </select>

  <select id="getProductNamesByTypeName" resultType="java.lang.String">
    SELECT DISTINCT name
    FROM
    <choose>
      <when test="indicatorType == 'publication'">
        i_publication
      </when>
      <when test="indicatorType == 'patent'">
        i_patent
      </when>
      <when test="indicatorType == 'award'">
        i_award
      </when>
      <when test="indicatorType == 'project'">
        i_project_type
      </when>
      <when test="indicatorType == 'standard'">
        i_standard
      </when>
      <when test="indicatorType == 'decision'">
        i_decision_type
      </when>
      <when test="indicatorType == 'book'">
        i_book
      </when>
      <when test="indicatorType == 'application'">
        i_application
      </when>
      <when test="indicatorType == 'competition'">
        i_competition
      </when>
    </choose>
    WHERE name LIKE concat('%', #{name},'%')
  </select>



</mapper>
