<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sys.rate.mapper.LogMapper">
    <resultMap id="BaseResultMap" type="org.sys.rate.model.Log">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="addDate" property="addDate" jdbcType="TIMESTAMP"/>
        <result column="operator" property="operator" jdbcType="INTEGER"/>
        <result column="operator_name" property="operator_name" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, addDate, operator, category, content
    </sql>
    <select id="getLogByPage" resultMap="BaseResultMap">
        select e.id,e.addDate,i.company as operator_name,e.category,e.content
        from logs e, institution i
        where i.id=e.operator and e.operator = #{institutionID} order by e.addDate desc
        <if test="page !=null and size!=null">
            limit #{page},#{size}
        </if>
    </select>
    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from logs e
        where e.operator = #{institutionID}
    </select>

    <insert id="insert" parameterType="org.sys.rate.model.Log">
        insert into logs (addDate, operator, category, content)
        values  (#{addDate,jdbcType=DATE}, #{operator,jdbcType=INTEGER},
                #{category,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR})
    </insert>
</mapper>
