<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sys.rate.mapper.PaperMapper">

    <resultMap type="org.sys.rate.model.Paper" id="PaperResult">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="studentId" column="student_id"/>
        <result property="name" column="name"/>
        <result property="date" column="date"/>
        <result property="author" column="author"/>
        <result property="publicationId" column="publication_id"/>
        <result property="url" column="url"/>
        <result property="state" column="state"/>
        <result property="pubPage" column="pubPage"/>
        <result property="publicationId" column="publication_id"/>
<!--        <collection property="operationList" ofType="org.sys.rate.model.Operation">-->
<!--            <result property="operatorRole" column="remark"/>-->
<!--            <result property="operatorId" column="operatorRole"/>-->
<!--            <result property="operatorName" column="operation"/>-->
<!--            <result property="prodType" column="time"/>-->
<!--            <result property="prodId" column="time"/>-->
<!--            <result property="date" column="time"/>-->
<!--            <result property="operatorName" column="time"/>-->
<!--            <result property="state" column="time"/>-->
<!--            <result property="remark" column="time"/>-->
<!--        </collection>-->
    </resultMap>

    <sql id="selectPaperVo">
        select id,
               name,
               student_id,
               date,
               author,
               state,
               url,
               have_score,
               pub_page,
               publication_id
        from i_paper
    </sql>

    <insert id="insertPaper" parameterType="org.sys.rate.model.Paper" useGeneratedKeys="true" keyProperty="id">
        insert into i_paper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="studentId != null">student_id,</if>
            <if test="date != null">date,</if>
            <if test="author != null">author,</if>
            <if test="state != null">state,</if>
            <if test="url != null">url,</if>
            <if test="haveScore != null">have_score,</if>
            <if test="pubPage != null">pub_page,</if>
            <if test="publicationId != null">publication_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="date != null">#{date},</if>
            <if test="author != null">#{author},</if>
            <if test="state != null">#{state},</if>
            <if test="url != null">#{url},</if>
            <if test="haveScore != null">#{haveScore},</if>
            <if test="pubPage != null">#{pubPage},</if>
            <if test="publicationId != null">#{publicationId}</if>
        </trim>
    </insert>

    <update id="updatePaper" parameterType="org.sys.rate.model.Paper">
        update i_paper
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="studentID != null">student_id = #{studentID},</if>
            <if test="date != null">date = #{date},</if>
            <if test="author != null">author = #{author},</if>
            <if test="state != null">state=#{state},</if>
            <if test="url != null">url=#{url},</if>
            <if test="haveScore != null">have_score=#{haveScore}</if>
            <if test="pubPage != null">pub_page=#{pubPage},</if>
            <if test="publicationID != null">publication_id = #{publicationId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePaperByIds">
        delete from i_paper where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="editState" parameterType="org.sys.rate.model.Paper">
        update i_paper
        <set>
            <if test="state != null and state != '' ">state=#{state}</if>
        </set>
        where id = #{id}
    </update>


    <select id="selectListByIdWithPaging" resultMap="PaperResult">
        <include refid="selectPaperVo"></include>
        <where>
            <if test="studentID != null  and studentID != ''">and studentID = #{studentID}</if>
            <if test="page !=null and size!=null">
                limit #{page},#{size}
            </if>
        </where>
    </select>


</mapper>
