<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.sys.rate.mapper.PaperCommentMapper">
    <resultMap type="org.sys.rate.model.Thesis" id="ThesisResult">
        <id property="ID" column="tID" jdbcType="INTEGER"/>
        <id property="studentID" column="uID" jdbcType="INTEGER"/>
        <result property="name" column="tName"/>
        <result column="comment_pass" jdbcType="INTEGER" property="comment_pass"/>
        <result column="comment_deny" jdbcType="INTEGER" property="comment_deny"/>
        <result column="comment_total" jdbcType="INTEGER" property="comment_total"/>
        <result column="fillMiss" jdbcType="INTEGER" property="fillMiss"/>

    </resultMap>


    <resultMap type="org.sys.rate.model.Student" id="PaperCommentResult">
        <id property="ID" column="ID" jdbcType="INTEGER"/>
        <result property="sname" column="name"/>
        <result property="studentnumber" column="stuNumber"/>

        <association property="thesis" resultMap="ThesisResult">

        </association>

    </resultMap>


    <select id="getStuThesis" resultMap="PaperCommentResult">
        --  老师查询其下所有学生的毕业设计，这里需要返回最新的论文

        SELECT s.ID,
               t.ID                       AS tID,
               s.NAME,
               t.NAME                     AS tName,
               SUM(p.isPass = 'tea_pass') AS comment_pass,
               SUM(p.isPass = 'tea_deny') AS comment_deny,
               COUNT(p.isPass)            AS comment_total
        FROM undergraduate u
                 JOIN (SELECT t1.studentID,
                              MAX(t1.YEAR * 100 + t1.MONTH) AS max_year_month
                       FROM thesis t1
                       WHERE t1.tutorID = #{teaID}
                       GROUP BY t1.studentID) t2 ON u.ID = t2.studentID
                 JOIN thesis t ON t.studentID = t2.studentID AND t.YEAR * 100 + t.MONTH = t2.max_year_month
                 JOIN student s ON u.studentID = s.ID
                 LEFT JOIN papercomment p ON p.thesisID = t.ID
        GROUP BY s.ID,
                 t.ID,
                 s.NAME,
                 t.NAME
        ORDER BY s.ID ASC;

    </select>

    <select id="getStuThesisWithDate" resultMap="PaperCommentResult">
        SELECT
            s.ID,
            t.ID AS tID,
            u.ID as uID,
            u.stuNumber,
            s.NAME,
            t.NAME AS tName,
            t.fillMiss,
            SUM(CASE WHEN p.isPass = 'tea_pass' THEN 1 ELSE 0 END) AS comment_pass,
            SUM(CASE WHEN p.isPass = 'tea_deny' THEN 1 ELSE 0 END) AS comment_deny,
            SUM(CASE WHEN p.isPass IN ('tea_pass', 'tea_deny', '') THEN 1 ELSE 0 END) AS comment_total
        FROM
            undergraduate u
                INNER JOIN student s ON u.studentID = s.ID
                INNER JOIN thesis t ON t.studentID = u.ID
                LEFT JOIN papercomment p ON p.thesisID = t.ID
        WHERE
            t.start_thesis_id = #{startThesisID}
          AND t.tutorID = #{tutorId}
        GROUP BY
            t.ID
        ORDER BY
            t.ID ASC;


    </select>


</mapper>
