<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sys.rate.mapper.PatentMapper">
    <resultMap type="org.sys.rate.model.Patent" id="PatentResult">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="studentId" column="student_id"/>
        <result property="name" column="name"/>
        <result property="date" column="date"/>
        <result property="author" column="author"/>
        <result property="url" column="url"/>
        <result property="state" column="state"/>
        <result property="grantedStatus" column="granted_status"/>
        <result property="indicatorId" column="indicator_id"/>
    </resultMap>

    <sql id="selectPaperVo">
        select id,student_id,name,date,author,url,grantedStatus,indicatorId,state
        from i_patent
    </sql>

    <select id="selectList" resultMap="PatentResult">
        -- 老师查询所有学生的专利
        SELECT p.*,
               s.NAME   AS sname,
               pub.NAME AS pname,
               paperoper.operator_role,
               paperoper.operator_id,
               paperoper.operator_name,
               paperoper.prod_type,
               paperoper.prod_id,
               paperoper.date,
               paperoper.operation_name,
               paperoper.state,
               paperoper.remark
        FROM i_patent p
                 LEFT JOIN student s ON p.student_id = s.ID
                 LEFT JOIN i_publication pub ON p. = pub.id
                 LEFT JOIN i_oper paperoper ON p.ID = paperoper.prod_id and paperoper.prod_type = '授权专利'
    </select>

    <select id="selectListById" resultMap="PatentResult">
        <include refid="selectPaperVo"></include>
        <where>
            <if test="student_id != null  and student_id != ''">and student_id = #{student_id}</if>
            <if test="page !=null and size!=null">
                limit #{page},#{size}
            </if>
        </where>
    </select>

<!--    学生专利页面初始化-->
    <select id="selectListByIds" resultMap="PatentResult" parameterType="Integer">
        select p.*,
--                indicat.name as pname,
               paperoper.operator_role,
               paperoper.operator_id,
               paperoper.operator_name,
               paperoper.prod_type,
               paperoper.prod_id,
               paperoper.date,
               paperoper.operation_name,
               paperoper.state,
               paperoper.remark
        from i_patent p,
             student s,
--              indicator indicat,
             i_oper paperoper
        where p.student_id = #{studentID}
--           and p.indicator_id = indicat.id
          and p.ID = paperoper.prod_id
          and paperoper.prod_type = '授权专利'

    </select>

    <select id="selectPaperList" parameterType="org.sys.rate.model.Patent" resultMap="PatentResult">
        <include refid="selectPaperVo"/>
        <where>
            <if test="ID !=null and ID !=''">and ID =#{ID}</if>
            <if test="student_id != null ">and student_id = #{student_id}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="year != null  and year != ''">and year = #{year}</if>
            <if test="month != null ">and month = #{month}</if>
            <if test="`rank` != null ">and `rank` = #{rank}</if>
            <if test="total != null ">and total = #{total}</if>
            <if test="point != null ">and point = #{point}</if>
            <if test=" != null ">and  = #{}</if>
            <if test="url != null ">and url = #{url}</if>
        </where>
    </select>

    <select id="selectPaperById" parameterType="Long" resultMap="PatentResult">
        <include refid="selectPaperVo"/>
        where ID = #{ID}
    </select>

    <insert id="insertPaper" parameterType="org.sys.rate.model.Patent" useGeneratedKeys="true" keyProperty="ID">
        insert into i_patent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="student_id != null">student_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="year != null">year,</if>
            <if test="month != null">month,</if>
            <if test="author != null">author,</if>
            <if test="`rank` != null">`rank`,</if>
            <if test="total != null">total,</if>
            <if test="point != null">point,</if>
            <if test=" != null">,</if>
            <!--<if test="content != null">content,</if>-->
            <if test="state != null">state,</if>
            <if test=" != null">,</if>
            <if test="url != null">url,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="student_id != null">#{student_id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="year != null">#{year},</if>
            <if test="month != null">#{month},</if>
            <if test="author != null">#{author},</if>
            <if test="`rank` != null">#{rank},</if>
            <if test="total != null">#{total},</if>
            <if test="point != null">#{point},</if>
            <if test=" != null">#{},</if>
            <!--<if test="content != null">#{content},</if>-->
            <if test="state != null">#{state},</if>
            <if test=" != null">#{},</if>
            <if test="url != null">#{url},</if>
        </trim>
    </insert>

    <update id="updatePaper" parameterType="org.sys.rate.model.Patent">
        update i_patent
        <trim prefix="SET" suffixOverrides=",">
            <if test="student_id != null">student_id = #{student_id},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="year != null">year = #{year},</if>
            <if test="month != null">month = #{month},</if>
            <if test="author != null">author = #{author},</if>
            <if test="`rank` != null">`rank` = #{rank},</if>
            <if test="total != null">total = #{total},</if>
            <if test="point != null">point = #{point},</if>
            <if test=" != null"> = #{},</if>
            <if test="state != null">state=#{state},</if>
            <if test=" != null">=#{},</if>
            <if test="url != null">url=#{url},</if>
        </trim>
        where ID = #{ID}
    </update>

    <update id="editState" parameterType="org.sys.rate.model.Patent">
        update i_patent
        <trim prefix="SET" suffixOverrides=",">
            <if test="state != null">state=#{state},</if>
        </trim>
        where ID = #{ID}
    </update>
    <delete id="deletePaperById" parameterType="Long">
        delete
        from i_patent
        where ID = #{ID}
    </delete>

    <delete id="deletePaperByIds" parameterType="String">
        delete from i_patent where ID in
        <foreach item="ID" collection="array" open="(" separator="," close=")">
            #{ID}
        </foreach>
    </delete>

</mapper>
