<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sys.rate.mapper.PatentMapper">

    <resultMap type="org.sys.rate.model.Patent" id="PatentResult">
        <id property="ID"    column="ID"  jdbcType="INTEGER"/>
        <result property="studentID"    column="studentID" />
        <result property="name"    column="name"    />
        <result property="typename"    column="typename"    />
        <result property="month"    column="month"    />
        <result property="rank"    column="rank"    />
        <result property="rights"    column="rights"    />
        <result property="patentee"    column="patentee"    />
        <result property="point"    column="point"/>
        <result property="state"    column="state"    />
        <result property="url"    column="url"    />
        <result property="total"    column="total"    />
        <result property="patentTypeID"    column="patentTypeID"    />
        <association property="student" javaType="org.sys.rate.model.Student">
            <id property="ID" column="ID" jdbcType="INTEGER"/>
            <result property="name" column="sname"/>
        </association>
        <association property="patentType" javaType="org.sys.rate.model.PatentType">
            <id property="ID" column="ID" jdbcType="INTEGER"/>
            <result property="name" column="pname"/>
        </association>
        <collection property="patentList" ofType="org.sys.rate.model.PatentOper" column="pID">
            <result property="remark" column="remark"/>
            <result property="operatorRole" column="operatorRole"/>
            <result property="operation" column="operation"/>
            <result property="time" column="time"/>
        </collection>
    </resultMap>

    <sql id="selectPatentVo">
        SELECT
            a.*,
            b.`name` AS sname,
            c.`name` AS pname,
            d.remark,
            d.operatorRole,
            d.operation,
            d.time,
            d.ID as pID
        FROM
            patent a
        LEFT JOIN student b ON a.studentID = b.ID
        LEFT JOIN patenttype c ON a.patentTypeID = c.ID
        LEFT JOIN patent_oper d ON a.ID = d.patentID
    </sql>

    <select id="selectList" resultMap="PatentResult">
        <include refid="selectPatentVo"></include>
        <where>
            <if test="id != null">
                and a.ID =#{ID}
            </if>
        </where>
    </select>

    <select id="selectPatentList" parameterType="org.sys.rate.model.Patent" resultMap="PatentResult">
        <include refid="selectPatentVo"/>
        <where>
            <if test="ID !=null and ID !=''">and ID =#{ID}</if>
            <if test="stuName !=null and stuName !=''">and b.name like concat('%',#{stuName},'%')</if>
            <if test="zcName !=null and zcName !=''">and a.name like concat('%',#{zcName},'%')</if>
            <if test="sScore !=null and sScore !='全部' and sScore !=''">and a.point >= #{sScore}</if>
            <if test="eScore !=null and eScore !='全部' and eScore !=''">and a.point &lt;= #{eScore}</if>
            <if test="sState !=null and sState !=''">and a.state = #{sState}</if>
        </where>
    </select>

    <select id="selectPatentById" parameterType="Long" resultMap="PatentResult">
        <include refid="selectPatentVo"/>
        where ID = #{ID}
    </select>

    <insert id="insertPatent" parameterType="org.sys.rate.model.Patent">
        insert into patent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="year != null">year,</if>
            <if test="rank != null">rank,</if>
            <if test="total != null">total,</if>
            <if test="rights != null">rights,</if>
            <if test="indicaterID != null">indicaterID,</if>
            <if test="month != null">month,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="year != null">#{year},</if>
            <if test="rank != null">#{rank},</if>
            <if test="total != null">#{total},</if>
            <if test="rights != null">#{rights},</if>
            <if test="indicaterID != null">#{indicaterID},</if>
            <if test="month != null">#{month},</if>
         </trim>
    </insert>
    <insert id="insertPaper" parameterType="org.sys.rate.model.Paper" useGeneratedKeys="true" keyProperty="ID">
        insert into paper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="studentID != null">studentID,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="year != null">year,</if>
            <if test="month != null">month,</if>
            <if test="author != null">author,</if>
            <if test="`rank` != null">`rank`,</if>
            <if test="total != null">total,</if>
            <if test="point != null">point,</if>
            <if test="publicationID != null">publicationID,</if>
            <!--<if test="content != null">content,</if>-->
            <if test="state != null">state,</if>
            <if test="pubPage != null">pubPage,</if>
            <if test="url != null">url,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="studentID != null">#{studentID},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="year != null">#{year},</if>
            <if test="month != null">#{month},</if>
            <if test="author != null">#{author},</if>
            <if test="`rank` != null">#{rank},</if>
            <if test="total != null">#{total},</if>
            <if test="point != null">#{point},</if>
            <if test="publicationID != null">#{publicationID},</if>
            <!--<if test="content != null">#{content},</if>-->
            <if test="state != null">#{state},</if>
            <if test="pubPage != null">#{pubPage},</if>
            <if test="url != null">#{url},</if>
        </trim>
        <!--            <selectKey order="AFTER" resultType="Long" keyProperty="ID">-->
        <!--                SELECT LAST_INSERT_ID()-->
        <!--            </selectKey>-->
    </insert>
    <insert id="insertPaperoper" parameterType="org.sys.rate.model.PatentOper">
        insert into patent_oper (ID, operatorRole,operatorID, operatorName,
        patentID, patentName,operation,state,remark)
        values (#{ID},
        #{operatorRole},
        #{operatorID,jdbcType=INTEGER}, #{operatorName,jdbcType=VARCHAR},
        #{patentID,jdbcType=INTEGER}, #{patentName,jdbcType=VARCHAR},
         #{operation,jdbcType=VARCHAR},
        #{state},#{remark})
        <!--        insert into paper_oper-->
        <!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
        <!--            <if test="ID != null">ID,</if>-->
        <!--            <if test="operatorRole != null">operatorRole,</if>-->
        <!--            <if test="operatorID != null ">operatorID,</if>-->
        <!--            <if test="operatorName != null">operatorName,</if>-->
        <!--            <if test="paperID != null">paperID,</if>-->
        <!--            <if test="paperName != null">paperName,</if>-->
        <!--            <if test="pubID != null">pubID,</if>-->
        <!--            <if test="pubName != null">pubName,</if>-->
        <!--            <if test="time != null">time,</if>-->
        <!--            <if test="operation != null">operation,</if>-->
        <!--            <if test="state != null">state,</if>-->
        <!--            <if test="remark != null">remark,</if>-->
        <!--         </trim>-->
        <!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
        <!--            <if test="ID != null">#{ID},</if>-->
        <!--            <if test="operatorRole != null">#{studentID},</if>-->
        <!--            <if test="operatorID != null and name != ''">#{name},</if>-->
        <!--            <if test="operatorName != null">#{operatorName},</if>-->
        <!--            <if test="paperID != null">#{paperID},</if>-->
        <!--            <if test="paperName != null">#{paperName},</if>-->
        <!--            <if test="pubID != null">#{pubID},</if>-->
        <!--            <if test="pubName != null">#{pubName},</if>-->
        <!--            <if test="time != null">#{time},</if>-->
        <!--            <if test="operation != null">#{operation},</if>-->
        <!--            <if test="state != null">#{state},</if>-->
        <!--            <if test="remark != null">#{remark},</if>-->
        <!--         </trim>-->
    </insert>

    <update id="updatePatent" parameterType="org.sys.rate.model.Patent">
        update patent
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="year != null">year = #{year},</if>
            <if test="rank != null">rank = #{rank},</if>
            <if test="total != null">total = #{total},</if>
            <if test="rights != null">rights = #{rights},</if>
            <if test="indicaterID != null">indicaterID = #{indicaterID},</if>
            <if test="month != null">month = #{month},</if>
        </trim>
        where ID = #{ID}
    </update>
    <update id="editState">
        update patent
        <trim prefix="SET" suffixOverrides=",">
            <if test="state != null">state=#{state},</if>
        </trim>
        where ID = #{ID}
    </update>

    <delete id="deletePatentById" parameterType="Long">
        delete from patent where ID = #{ID}
    </delete>

    <delete id="deletePatentByIds" parameterType="String">
        delete from patent where ID in
        <foreach item="ID" collection="array" open="(" separator="," close=")">
            #{ID}
        </foreach>
    </delete>

</mapper>
