<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sys.rate.mapper.PatentMapper">

    <resultMap type="org.sys.rate.model.Patent" id="PatentResult">
        <result property="ID"    column="ID"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="year"    column="year"    />
        <result property="rank"    column="rank"    />
        <result property="total"    column="total"    />
        <result property="rights"    column="rights"    />
        <result property="indicaterID"    column="indicaterID"    />
        <result property="month"    column="month"    />
    </resultMap>

    <sql id="selectPatentVo">
        select ID, name, type, year, `rank`, total, rights, indicaterID, month from patent
    </sql>

    <select id="selectList" resultMap="PatentResult">
        <include refid="selectPatentVo"></include>
    </select>

    <select id="selectPatentList" parameterType="org.sys.rate.model.Patent" resultMap="PatentResult">
        <include refid="selectPatentVo"/>
        <where>
            <if test="ID !=null and ID !=''">and ID =#{ID}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="year != null  and year != ''"> and year = #{year}</if>
            <if test="rank != null "> and rank = #{rank}</if>
            <if test="total != null "> and total = #{total}</if>
            <if test="rights != null  and rights != ''"> and rights = #{rights}</if>
            <if test="indicaterID != null "> and indicaterID = #{indicaterID}</if>
            <if test="month != null  and month != ''"> and month = #{month}</if>
        </where>
    </select>
    
    <select id="selectPatentById" parameterType="Long" resultMap="PatentResult">
        <include refid="selectPatentVo"/>
        where ID = #{ID}
    </select>
        
    <insert id="insertPatent" parameterType="org.sys.rate.model.Patent">
        insert into patent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="year != null">year,</if>
            <if test="rank != null">rank,</if>
            <if test="total != null">total,</if>
            <if test="rights != null">rights,</if>
            <if test="indicaterID != null">indicaterID,</if>
            <if test="month != null">month,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="year != null">#{year},</if>
            <if test="rank != null">#{rank},</if>
            <if test="total != null">#{total},</if>
            <if test="rights != null">#{rights},</if>
            <if test="indicaterID != null">#{indicaterID},</if>
            <if test="month != null">#{month},</if>
         </trim>
    </insert>

    <update id="updatePatent" parameterType="org.sys.rate.model.Patent">
        update patent
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="year != null">year = #{year},</if>
            <if test="rank != null">rank = #{rank},</if>
            <if test="total != null">total = #{total},</if>
            <if test="rights != null">rights = #{rights},</if>
            <if test="indicaterID != null">indicaterID = #{indicaterID},</if>
            <if test="month != null">month = #{month},</if>
        </trim>
        where ID = #{ID}
    </update>

    <delete id="deletePatentById" parameterType="Long">
        delete from patent where ID = #{ID}
    </delete>

    <delete id="deletePatentByIds" parameterType="String">
        delete from patent where ID in 
        <foreach item="ID" collection="array" open="(" separator="," close=")">
            #{ID}
        </foreach>
    </delete>

</mapper>