<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sys.rate.mapper.ProjectsOperMapper">

    <resultMap type="org.sys.rate.model.ProjectsOper" id="ProjectOperResult">
        <result property="ID"    column="ID"    />
        <result property="operatorRole"    column="operatorRole"    />
        <result property="operatorName"    column="operatorName"    />
        <result property="operatorID"    column="operatorID"    />
        <result property="projectID"    column="projectID"    />
        <result property="projectName"    column="projectName"    />
        <result property="projectTypeID"    column="projectTypeID"    />
        <result property="projectTypeName"    column="projectTypeName"    />
        <result property="time"    column="time"    />
        <result property="operation"    column="operation"    />
        <result property="state"    column="state"    />
        <result property="remark"    column="remark"    />
    </resultMap>


    <sql id="selectProjectOperVo">
        select ID,operatorRole,operatorName,operatorID,projectID,projectName,projectTypeID,projectTypeName,time, operation,state,remark from project_oper
    </sql>

    <select id="selectList" resultMap="ProjectOperResult">
        <include refid="selectProjectOperVo"></include>
        where projectID=#{ID}
    </select>

    <insert id="insertProjectOper" parameterType="org.sys.rate.model.ProjectsOper">
        insert into project_oper (ID, operatorRole,operatorID, operatorName,
        projectID, projectName, projectTypeID, projectTypeName,operation,state,remark)
        values (#{ID},
        #{operatorRole},
        #{operatorID,jdbcType=INTEGER}, #{operatorName,jdbcType=VARCHAR},
        #{projectID,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR},
        #{projectTypeID,jdbcType=INTEGER}, #{projectTypeName,jdbcType=VARCHAR}, #{operation,jdbcType=VARCHAR},
        #{state},#{remark})
    </insert>

</mapper>