<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sys.rate.mapper.ProjectTypeMapper">
    <resultMap type="org.sys.rate.model.ProjectType" id="ProjectTypeResult">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name"/>
        <result property="year" column="year"/>
        <result property="indicatorId" column="indicator_id"/>
    </resultMap>

    <select id="getIndicatorByYearAndType" resultMap="ProjectTypeResult">
        SELECT p.*
        FROM i_project_type p
        where p.name like concat('%', #{type}, '%') and p.year = (select max(year) from i_project_type where name like concat('%', #{type}, '%') and <![CDATA[ year <= #{year}  ]]>)
    </select>

    <delete id="deleteByYearIndicatorID">
        delete
        from  i_project_type
        where indicator_id = #{indicatorID} and year=#{year}
    </delete>
</mapper>
