<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sys.rate.mapper.PublicationMapper">

    <resultMap type="org.sys.rate.model.Publication" id="PublicationResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="abbr" column="abbr"/>
        <result property="publisher" column="publisher"/>
        <result property="url" column="url"/>
        <collection property="indicatorList" ofType="org.sys.rate.model.Indicator">
            <id property="id" column="i_id" jdbcType="INTEGER"/>
            <result property="name" column="i_name"/>
            <result property="score" column="point"/>
            <result property="order" column="order"/>
        </collection>
    </resultMap>

    <resultMap type="org.sys.rate.model.Publication" id="PublicationWithIndicators">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="abbr" column="abbr"/>
        <result property="publisher" column="publisher"/>
        <result property="url" column="url"/>
        <collection property="indicatorList" ofType="org.sys.rate.model.Indicator">
            <result property="id" column="indicatorID" jdbcType="INTEGER"/>
            <result property="name" column="indicatorName"/>
            <result property="score" column="score"/>
            <result property="order" column="order"/>
            <result property="year" column="year"/>
            <result property="type" column="type"/>
        </collection>
    </resultMap>

    <sql id="selectPublicationVo">
        select id, name, abbr, publisher, url
        from i_publication
    </sql>

    <update id="updatePublication" parameterType="org.sys.rate.model.Publication">
        update i_publication
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="abbr != null">abbr = #{abbr},</if>
            <if test="publisher != null">publisher = #{publisher},</if>
            <if test="url != null">url = #{url},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePublicationByIds" parameterType="String">
        delete from i_publication where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!--    <select id="getPublicationByNameYear" resultMap="PublicationResult">-->
<!--        SELECT p.id, p.`name`, p.abbr, p.publisher, p.url, i.id as i_id, i.`name` as i_name, i.score as point, i.`order`-->
<!--        FROM indicator_publication ip-->
<!--                 LEFT JOIN i_publication p ON ip.publication_id = p.id-->
<!--                 LEFT JOIN indicator i ON ip.indicator_id = i.id-->
<!--        WHERE p.`name` = #{name} AND ip.year = #{year}-->
<!--        ORDER BY i.score DESC, i.`order`-->
<!--        LIMIT 1-->
<!--    </select>-->

        <select id="getPublicationByNameYear" resultMap="PublicationWithIndicators">
            SELECT p.id,p.name,i.name indicatorName,i.order,i.score,i.id incicatorID,ip.year,i.type FROM i_publication p, indicator_publication ip,indicator i
            WHERE p.id = ip.publication_id AND i.id = ip.indicator_id
              AND p.`name` = #{name} AND <![CDATA[ year <= #{year}  ]]>
            ORDER BY i.score DESC,year DESC,i.`order`
        </select>
</mapper>