<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sys.rate.mapper.PublicationMapper">

    <resultMap type="org.sys.rate.model.Publication" id="PublicationResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="abbr" column="abbr"/>
        <result property="publisher" column="publisher"/>
        <result property="url" column="url"/>
        <collection property="indicatorList" ofType="org.sys.rate.model.Indicator">
            <id property="id" column="i_id" jdbcType="INTEGER"/>
            <result property="name" column="i_name"/>
            <result property="score" column="point"/>
            <result property="order" column="order"/>
        </collection>
    </resultMap>

    <resultMap type="org.sys.rate.model.Publication" id="PublicationWithIndicators">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="abbr" column="abbr"/>
        <result property="publisher" column="publisher"/>
        <result property="url" column="url"/>
        <collection property="indicatorList" ofType="org.sys.rate.model.Indicator">
            <result property="id" column="indicatorID" jdbcType="INTEGER"/>
            <result property="name" column="indicatorName"/>
            <result property="score" column="score"/>
            <result property="order" column="order"/>
            <result property="year" column="year"/>
            <result property="type" column="type"/>
        </collection>
    </resultMap>

    <sql id="selectPublicationVo">
        select id, name, abbr, publisher, url
        from i_publication
    </sql>

    <update id="updatePublication" parameterType="org.sys.rate.model.Publication">
        update i_publication
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="abbr != null">abbr = #{abbr},</if>
            <if test="publisher != null">publisher = #{publisher},</if>
            <if test="url != null">url = #{url}</if>
        </trim>
        where id = #{id}
    </update>


    <select id="getPublicationByNameYear" resultMap="PublicationWithIndicators">
        SELECT p.id,
               p.name,
               p.abbr,
               p.publisher,
               p.url,
               i.name indicatorName,
               i.order,
               i.score,
               i.id   indicatorID,
               ip.year,
               i.type
        FROM i_publication p,
             indicator_publication ip,
             indicator i
        WHERE p.id = ip.publication_id
          AND i.id = ip.indicator_id
          AND p.`name` = #{name}
          AND <![CDATA[ year <= #{year}  ]]>
            ORDER BY i.score DESC, year DESC, i.`order`
    </select>
    <select id="selectPublicationListByYear" resultMap="PublicationResult">
        SELECT p.id, p.abbr, p.`name`, p.publisher, p.url
        FROM i_publication p,
        indicator_publication ip
        WHERE ip.publication_id = p.id
        AND ip.indicator_id = #{indicatorID}
        AND ip.year = #{year}


    </select>
    <select id="getlistByName" resultMap="PublicationResult">
        select *
        from i_publication
        <where>
            <if test="name != null and name != ''">and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
</mapper>