<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.sys.rate.mapper.ThesisMapper">
    <insert id="addBatch" parameterType="java.util.List">
        INSERT IGNORE INTO thesis (studentid, tutorid, year, month, grade)
        VALUES
        <foreach collection="thesisList" item="thesis" separator=",">
            (#{thesis.studentID}, #{thesis.tutorID}, #{year}, #{month}, #{thesis.grade})
        </foreach>
    </insert>
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="thesisList" item="thesis" separator=";">
            update thesis
            set tutorID = #{thesis.tutorID}
            where studentID = #{thesis.studentID}
            and year = #{year}
            and month = #{month}
        </foreach>
    </update>

</mapper>
