<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sys.rate.mapper.UnderGraduateMapper">
    <resultMap id="BaseResultMap" type="org.sys.rate.model.UnderGraduate">
        <id column="ID" property="ID" jdbcType="INTEGER"/>
        <id column="studentID" property="studentID" jdbcType="INTEGER"/>
        <result column="institutionID" jdbcType="INTEGER" property="institutionID" />
        <result column="stuNumber" property="stuNumber" jdbcType="VARCHAR"/>
        <result column="year" property="year" jdbcType="INTEGER"/>
        <result column="tutorID" property="tutorID" jdbcType="INTEGER"/>
        <result column="specialty" property="specialty" jdbcType="VARCHAR"/>
        <result column="class" property="className" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
        <result property="IDNumber" column="IDNumber" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result column="registerAnswer" property="registerAnswer" jdbcType="VARCHAR"/>
        <result column="registerQuestion" property="registerQuestion" jdbcType="VARCHAR"/>
        <association property="teachers" javaType="org.sys.rate.model.Teachers">
            <id property="ID" column="ID" jdbcType="INTEGER"/>
            <result property="name" column="tname"/>
            <result property="jobnumber" column="tjobnumber"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        ID, studentID,institutionID,stuNumber, year, tutorID
    </sql>

    <insert id="insert" parameterType="org.sys.rate.model.UnderGraduate">
        insert into undergraduate (ID,studentID,institutionID,stuNumber,year)
        values  (#{ID,jdbcType=INTEGER},
                 #{studentID,jdbcType=INTEGER},
                 #{institutionID,jdbcType=INTEGER},
                 #{stuNumber,jdbcType=VARCHAR},
                 #{year,jdbcType=VARCHAR})
    </insert>

<!--    <select id="check" resultType="java.lang.Integer">-->
<!--        select exists (select * from student where IDNumber=#{IDNumber})-->
<!--    </select>-->

    <insert id="insertFROMImport" parameterType="org.sys.rate.model.UnderGraduate">
        insert into undergraduate(studentID,stuNumber,institutionID,year,specialty,class) values
        <foreach collection="list" separator="," item="under">
                (#{under.studentID,jdbcType=INTEGER},
                #{under.stuNumber,jdbcType=VARCHAR},
                #{under.institutionID,jdbcType=INTEGER},
                #{under.year,jdbcType=VARCHAR}, #{under.specialty,jdbcType=VARCHAR},#{under.className,jdbcType=VARCHAR})
        </foreach>
    </insert>



    <update id="updateFROMImport" parameterType="org.sys.rate.model.UnderGraduate">
        <foreach collection="list" item="item" open="" close="" separator=";">
            update undergraduate
            <set>
                institutionID=#{item.institutionID},
                stuNumber = #{item.stuNumber},
                year = #{item.year}
            </set>
            where studentID = #{item.studentID}
        </foreach>
    </update>
    <select id="check" resultType="java.lang.Integer">
        select studentID
        from undergraduate
        where studentID in
        <foreach collection="list" close=")" open="(" item="item" separator=",">
            #{item.studentID}
        </foreach>
    </select>
    <select id="getUnderStudent" resultMap="BaseResultMap">
        select u.*,s.name,s.telephone,s.email,s.username,t.name as tname,t.jobnumber as tjobnumber
        from undergraduate u
        left join teacher t
        on u.tutorID=t.ID
        left join student s
        on u.studentID=s.ID
--         where s.ID = u.studentID and u.tutorID = t.ID
    </select>
    <delete id="deleteUnderStudent" parameterType="org.sys.rate.model.UnderGraduate">
        delete from undergraduate where ID = #{ID}
    </delete>
    <update id="editUnderStudent" parameterType="org.sys.rate.model.UnderGraduate">
        UPDATE student SET name=#{name,jdbcType=VARCHAR},
                                telephone=#{telephone,jdbcType=VARCHAR},
                                email=#{email,jdbcType=VARCHAR}
        where ID=#{studentID,jdbcType=INTEGER};
        UPDATE undergraduate
        SET tutorID = #{tutorID},specialty = #{specialty,jdbcType=VARCHAR},class = #{className,jdbcType=VARCHAR}
        where ID=#{ID,jdbcType=INTEGER};
    </update>
    <update id="update">
        UPDATE undergraduate SET  stuNumber=#{stuNumber,jdbcType=VARCHAR},
                           year=#{year,jdbcType=INTEGER},
                           specialty=#{specialty,jdbcType=VARCHAR},
                           class=#{className,jdbcType=VARCHAR}
        where studentID=#{studentID,jdbcType=INTEGER};
    </update>

    <update id="updateWithInstitutionID" parameterType="org.sys.rate.model.UnderGraduate">
        UPDATE undergraduate
        <set>
            <if test="year != null">year = #{year},</if>
            <if test="specialty != null">specialty = #{specialty},</if>
            <if test="className != null">class = #{className}</if>
        </set>
        WHERE institutionID = #{institutionID} AND stuNumber = #{stuNumber}
    </update>
    <update id="updateGroup">
        update thesis
        set `group` =#{groupName}
        where ID =#{ID}
    </update>


    <select id="getTeaNamesBySelect" resultType="org.sys.rate.model.Teachers">
        select t.*
        from undergraduate g,teacher t
        <where>
            <if test="teaName != null and teaName != ''">and t.name LIKE CONCAT('%', #{teaName}, '%')</if>
        </where>
    </select>
    <select id="getUnderStudentsBySelect" resultMap="BaseResultMap">
        select u.*,s.name,s.telephone,s.email,s.IDNumber,s.username,t.name as tname,t.jobnumber as tjobnumber
        from undergraduate u
        left join teacher t
        on u.tutorID=t.ID
        left join student s
        on u.studentID=s.ID
        <where>
            <if test="year != null and year != 0">and u.year = #{year}</if>
            <if test="teaName != null and teaName != ''">and t.name LIKE CONCAT('%', #{teaName}, '%')</if>
        </where>
    </select>
    <select id="checkHaveStudentOfstudenID" resultType="java.lang.Integer">
        select exists (select * from undergraduate where studentID=#{studentID})
    </select>
    <select id="checkHaveStudentOftutorID" resultType="java.lang.Integer">
        select exists (select * from undergraduate where tutorID = #{tutorID} and ID != #{ID})
    </select>
    <select id="getUnderByStuID" resultMap="BaseResultMap">
        select u.*,s.name,s.telephone,s.email,s.username,s.password,s.registerQuestion,s.registerAnswer
        from undergraduate u,student s
        where u.studentID = #{studentID} and s.ID = u.studentID
    </select>
    <select id="checkHaveStudentOfStuNumber" resultType="java.lang.Integer">
        select exists (select * from undergraduate where institutionID = #{institutionID} and stuNumber = #{stuNumber} and studentID != #{studentID} )
    </select>
    <select id="getByGrade" resultType="org.sys.rate.model.Thesis">
        select *
        from thesis
        where year=#{year} and month=#{month} and grade =#{grade}
    </select>
    <select id="getNoGrade" resultType="org.sys.rate.model.Thesis">
        select *
        from thesis
        where year=#{year} and month=#{month} and grade is null
    </select>


    <select id="getStudentByConditions" resultType="org.sys.rate.model.UnderGraduate">
        SELECT
        u.institutionID,
        u.specialty,
        u.stuNumber,
        u.class AS className,
        u.studentID,
        u.YEAR,
        t.tutorID,
        t.GROUP,
        s.email AS email,
        s.telephone AS telephone,
        s.NAME,
        tea.NAME AS tutorName,
        tea.jobnumber AS tutorJobNumber
        FROM
        thesis t
        INNER JOIN undergraduate u ON t.studentID = u.ID
        INNER JOIN student s ON s.ID = u.studentID
        LEFT JOIN teacher tea ON t.tutorID = tea.id


        where
        t.YEAR = #{startYear}
        AND t.MONTH = #{month}
        AND u.institutionID = #{institutionID}
        <if test="stuNumber != null and stuNumber != ''">and u.stuNumber like concat('%', #{stuNumber}, '%')</if>
        <if test="name != null and name != ''">and s.name like concat('%', #{name}, '%')</if>
        <if test="specialty != null and specialty != ''">and u.specialty like concat('%', #{specialty}, '%')</if>
        <if test="className != null and className != ''">and u.class like concat('%', #{className}, '%')</if>
        <if test="year != null and year != ''">and u.year = #{year}</if>
        <if test="tutorJobNumber != null and tutorJobNumber != ''">and tea.jobnumber like concat('%', #{tutorJobNumber}, '%')</if>
        <if test="tutorName != null and tutorName != ''">and tea.name like concat('%', #{tutorName}, '%')</if>

        ORDER BY stuNumber

    </select>


</mapper>
